body {
    margin: 0;
    padding: 0;
    height: 300vh;
}
.flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.button {
    margin-top: 50px;
    width: 200px;
    height: 50px;
    padding: 7px 30px;
    background-color: rgb(65, 105, 225);
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 900;
    cursor: pointer;
    transition: all 1s;
}
.button:hover {
    background-color:  rgb(45, 85, 205);
}
.modal {
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: all 2.3s;
}
.modal-content {
    background-color: azure;
    width: 70%;
    margin: 150px auto 0 auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
    animation-name: modal-animation;
    animation-duration: 1.5s;
}
.closeBtn {
    float: right;
    font-size: 30px;
    font-weight: bold;
    color: grey;
    cursor: pointer;
}
.closeBtn:hover {
    color: black;
}
.modal-content h1, .modal-content p {
    text-align: center
}

@keyframes modal-animation {
    from {opacity: 0}
    to {opacity: 1}
}