*
    box-sizing: border-box 
body
    background-color: #d3d3d3
    margin: 0
.game-board
    display: flex
    justify-content: center
    flex-wrap: wrap
    width: 800px
    margin: 50px auto
    div
        width: 100px
        height: 100px
        margin: 8px
        cursor: pointer

.red
    background-color: red

.blue
    background-color: blue

.yellow
    background-color: yellow

.green
    background-color: green

.brown
    background-color: brown

.gray
    background-color: gray

.lightgreen
    background-color: lightgreen

.cadetblue
    background-color: cadetblue

.violet
    background-color: violet

.off
    background-color: #d3d3d3

.hidden
    background-color: black
    transition: all 0.4s